<div class="social-icon">
    <a href="https://www.facebook.com/topgadgetdealsonline/" target="_blank" class="social-icon">
        <img src="/assets/images/facebook_372387.png" alt="Facebook">
      </a>
      <a href="https://www.instagram.com/topgadgetdealsonline/" target="_blank" class="social-icon">
          <img src="/assets/images/instagram_372395.png" alt="Instagram">
        </a>
        <a href="https://twitter.com/MichaelMondala1" target="_blank" class="social-icon">
          <img src="/assets/images/twitter_372412.png" alt="Twitter">
        </a>
        <a href="https://youtube.com/@TopGadgetDeals-rd3sn" target="_blank" class="social-icon">
          <img src="/assets/images/youtube_372420.png" alt="Youtube">
        </a>
    <!-- Add more social icons here -->
</div>
